@import "./variables";

// ⛏️⛏️ PARENT COMPONENT ROUNDS  ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖
.Rounds {
    .nav-link {
        cursor: pointer;
    }
}

// ⛏️⛏️ ROUND ONE TO FIVE  ➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖➖
.show-all-nets {
    tr {
        td {
            padding: 0;
            // margin: 0;
        }

        .two-participant {
            height: $t-p-height;
            // background: blue;
            padding-top: 0.7em;
            .p-rival {
                margin: $p-my 0;
            }
        }

        .two-p-input {
            height: $t-p-height;
            margin-left: 5px;
            .form-check-input {
                margin: 8px 0;
            }
        }
        .two-p-input-1 {
        }
        .two-p-input-2 {
            margin-top: 0.8em;
        }

        .two-p-i-1 {
        }
        .two-p-i-2 {
            margin-top: 0.8em;
        }
        .form-control {
            width: $input-w;
            margin: 5px 0;
        }


        .not-mingle-point{
            margin: $p-my-ns 0;
        }
        .player-name{
            margin: $p-my-ns 0;
        }


        .line {
            margin-top: 12px;
            width: 100%;
            position: relative;
        }
        .line::before {
            content: "";
            position: absolute;
            border-bottom: 1px rgba(0, 0, 0, 0.247) solid;
            width: 100%;
            transform: translateY(-50%);
        }

        .vs {
            display: flex;
            flex-direction: row;
        }
        .vs::before,
        .vs::after {
            content: "";
            flex: 1 1;
            border-bottom: 1px rgba(0, 0, 0, 0.247) solid;
            margin: auto;
        }
        .vs::before {
            margin-right: 10px;
        }
        .vs::after {
            margin-left: 10px;
        }




        .extra-icon{
            width: 10px;
            margin-left: 5px;
        }
        .extra-input{
            width: $input-w;
            margin-left: 5px;
        }
    }
}
