@import "./variables";

.RoundTable {
    td{
        padding: 0;
        margin: 0;
    }
    .f-point{
    }
    .player-point, .player-point-differential{
        padding: 0 !important;
        margin: 0 !important;

    }
    .two-p {
        height: $t-p-height;
        .p-item {
            height: $item-height;
        }
        .p-i-1 {
            margin-top: 0;
        }
        .p-i-2 {
            margin-top: $mt-p-i-2;
        }
    }
    .two-pd {
        // background: #000;
        height: $t-p-height;
        .pd-item {
            height: $item-height;
        }
        .pd-i-1 {
            margin-top: $mt-p-i-1;
        }
        .pd-i-2 {
            margin-top: $mt-p-i-2;
        }
    }
}
